# @about Системный файл исключений системы контроля версий Git
# @purpose Указывает Git, какой локальный технический мусор, логи и временные папки сборщика Jekyll не нужно отправлять на сервер GitHub
# @author TechLab

# Результат работы скрипта генерации дерева структуры
structure.txt

# Временная папка сборщика Jekyll (локальный кэш)
.jekyll-cache/

# Папка с готовым скомпилированным сайтом (появится при локальном запуске)
_site/

# Файлы резервных копий редакторов и инженерного софта
*.bak

# Системные файлы Windows (кэш эскизов папок и настроек)
Thumbs.db
desktop.ini

# Технические логи и отчеты об ошибках
*.log
