# @about Системный файл исключений системы контроля версий Git
# @purpose Указывает Git, какой локальный технический мусор, логи и временные папки инженерных программ не нужно отправлять на сервер GitHub
# @author TechLab

# Результат работы скрипта генерации дерева структуры
structure.txt

# Временная папка сборщика Jekyll (локальный кэш)
.jekyll-cache/

# Папка с готовым скомпилированным сайтом (появится при локальном запуске)
_site/

# Файлы резервных копий редакторов контента и общего софта
*.bak

# Временные файлы 3D-моделирования FreeCAD
*.fcstd1
*.FCStd1
*.fcstd2
*.FCStd2
*.FCBak

# Резервные копии печатных плат Sprint-Layout
~$*.lay
~$*.lay6

# Резервные копии схемотехники sPlan
Backup_of_*

# Временные файлы автосохранения LibreCAD
.librecad*
*~.dxf

# Системные файлы Windows (кэш эскизов папок и настроек)
Thumbs.db
desktop.ini

# Технические логи и отчеты об ошибках
*.log
