/* --- ТОЛЬКО ДЛЯ ПК --- */

.main-content video {
    display: inline-block !important; /* ПРИНУДИТЕЛЬНО В РЯД */
    height: 250px !important;         /* ФИКСИРОВАННАЯ ВЫСОТА */
    width: auto !important;           /* ШИРИНА ПО ПРОПОРЦИЯМ */
    
    vertical-align: top;
    margin-right: 15px;               /* ЗАЗОР МЕЖДУ НИМИ */
    margin-bottom: 15px;              /* ЗАЗОР МЕЖДУ РЯДАМИ */
    
    max-width: 100%;
    border-radius: 8px;
    background: #000;
}
