<div class="fair-list">
  {% for item in current_items %}
    {% comment %} Извлекаем имя папки из пути файла {% endcomment %}
    {% assign folder_name = item.path | split: "/" | reverse | offset: 1 | first %}
    {% comment %} Формируем путь к обложке: /коллекция/папка/папка.webp {% endcomment %}
    {% assign img_url = item.url | append: folder_name | append: ".webp" %}

    <a href="{{ item.url | relative_url }}" class="fair-card">
        <img src="{{ img_url | relative_url }}" class="fair-img-round" alt="{{ item.title }}">
        <h3>{{ item.title }}</h3>
    </a>
  {% endfor %}
</div>
