{% for item in sorted_items %}
  {% if item.git-section == current_section %}
    <p>DEBUG: Файл лежит тут -> {{ item.path }}</p>
    <p>DEBUG: Картинку ищем тут -> {{ item.path | replace: ".md", ".webp" | remove_first: "_" }}</p>
    <hr>
  {% endif %}
{% endfor %}

