<div class="fair-list">
  {% for item in current_items %}
    {% assign project_folder = item.path | split: "/" | last | replace: ".md", "" %}
    {% assign img_url = item.url | append: project_folder | append: ".webp" %}

    <a href="{{ item.url | relative_url }}" class="fair-card">
        <img src="{{ img_url | relative_url }}" class="fair-img-round" alt="{{ item.title }}">
        <h3>{{ item.title }}</h3>
    </a>
  {% endfor %}
</div>
