@charset "UTF-8";

/* Подгружаем оригинальное цветное оформление темы light с сервера Giscus */
@import url("https://giscus.app/themes/light.css");

/* СТИЛИ ДЛЯ ГАЛЕРЕИ */

.gsc-comment-content div:not([class])[align="center"][dir="auto"] {
    /* Ваши кастомные свойства: маргины, отступы или размеры */
    display: flex !important;
    gap: 1rem !important;
}

@media (max-height: 500px) and (orientation: portrait) {

    .gsc-comment-content div:not([class])[align="center"][dir="auto"] {
        flex-direction: column !important;
    }
}