@charset "UTF-8";

/* Подгружаем оригинальное цветное оформление темы light с сервера Giscus */
@import url("https://giscus.app/themes/light.css");

/* СТИЛИ ДЛЯ ГАЛЕРЕИ */

.gsc-comment-content div:not([class])[dir="auto"]:has(img[alt*="giscus-gallery"]) {
    /* Ваши кастомные свойства: маргины, отступы или размеры */
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem !important;
}

.gsc-comment-content div:not([class])[dir="auto"]:has(video[src*="githubusercontent"]) {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important; /* Намертво делит ряд на 2 равные колонки */
    gap: 1rem !important;                             /* Идеальный зазор между видео */
}

@media screen and (max-width: 500px) {

    .gsc-comment-content div:not([class])[dir="auto"]:has(img[alt*="giscus-gallery"]) {
        display: flex !important;
        flex-direction: column !important;
    }

    .gsc-comment-content div:not([class])[dir="auto"]:has(video[src*="githubusercontent"]) {
        display: flex !important;
        flex-direction: column !important;
        gap: unset !important;
    }

}