/* Ультра-простая проверка: заставляем картинки стать мелкими и встать в ряд */
.gsc-comment-content img {
    height: 120px !important;
    width: auto !important;
    margin-right: 20px !important;
}
