@charset "UTF-8";

.gsc-comment-content img {
    margin-bottom: 1rem !important; /* Наш ровный нижний отступ */
    display: block !important;       /* Включаем блочный режим */
    max-width: 100% !important;
    height: auto !important;
}
