@charset "UTF-8";

/* Подгружаем оригинальное цветное оформление темы light с сервера Giscus */
@import url("https://giscus.app/themes/light.css");

/* ======================================================== */
/* НАШ КОД: Только отступы и скругления картинок в Giscus   */
/* ======================================================== */

.gsc-comment-content,
.gsc-markdown,
.markdown-body {
    text-align: justify !important;
}

img.js-gh-image-fallback {
    display: inline-block !important;
    max-width: 361px !important;
    max-height: 203px !important;
    margin-bottom: 1rem !important;
}

/* Находим каждое второе (четное) фото в ряду и обнуляем ему правый зазор */
img.js-gh-image-fallback:nth-child(even) {
    margin-right: 0 !important; 
}

/* ======================================================== */
/* НАШ КОД: Уменьшаем видеоплееры в комментариях           */
/* ======================================================== */

details.details-reset {
    display: inline-block !important;
    max-width: 320px !important;
    width: calc(50% - 15px) !important;
    margin-right: 0.7rem !important;
    margin-bottom: 1rem !important;
}

/*
video {
    margin-bottom: 1rem !important;
    max-width: calc(50% - 9px) !important;
    display: inline-block !important;
}
*/

/* СКРЫВАЕМ ИКОНКУ ВИДЕОКАМЕРЫ */
details.details-reset svg.octicon-device-camera-video {
    display: none !important;
}


@media (max-width: 900px) and (orientation: portrait) {

    img.js-gh-image-fallback {
        width: calc(50% - 15px) !important;
    }
    
}

@media (max-height: 500px) and (orientation: portrait) {

    img.js-gh-image-fallback {
        width: 100% !important;
    }

    details.details-reset {
        width: 100% !important;
    }

}
