@charset "UTF-8";

/* Подгружаем оригинальное цветное оформление темы light с сервера Giscus */
@import url("https://giscus.app/themes/light.css");

/* ======================================================== */
/* НАШ КОД: Только отступы и скругления картинок в Giscus   */
/* ======================================================== */

img {
    margin-right: 0.7rem !important;
    margin-bottom: 1rem !important;
    max-width: calc(50% - 9px) !important;
    display: inline-block !important;
}

img.js-gh-image-fallback {
    display: inline-block;
}

/* ======================================================== */
/* НАШ КОД: Уменьшаем видеоплееры в комментариях           */
/* ======================================================== */

details.details-reset {
    display: inline-block !important;
    max-width: 320px !important;
    width: calc(50% - 15px) !important; 
    width: 100% !important;         
    margin-bottom: 1rem !important;
    margin-right: 0.7rem !important;
}

/*
video {
    margin-bottom: 1rem !important;
    max-width: calc(50% - 9px) !important;
    display: inline-block !important;
}
*/

/* СКРЫВАЕМ ИКОНКУ ВИДЕОКАМЕРЫ */
details.details-reset svg.octicon-device-camera-video {
    display: none !important;
}

@media (orientation: portrait) {

    img {
        margin-bottom: 1rem !important;
        display: inline-block !important;
        max-width: 100% !important;
        max-height: none !important;
    }

    details.details-reset {
        margin-bottom: 1rem !important;
        display: inline-block !important;
        max-width: 100% !important;
        max-height: none !important;
    }

}
